@font-face {
  font-family: chill;
  src: url(./chillax.woff);
}
@font-face {
  font-family: satoshi;
  src: url(./satoshi.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: chill;
  // outline: 1px solid red;
}
body,
html {
  height: 100%;
  width: 100%;
  background-color: rgb(18, 18, 18);
  color: rgb(255, 255, 255);
  font-size: clamp(14px, 1vw, 18px);
}
@mixin flex-column($gap: 0) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}
section {
  max-width: 2000px;
}
main {
  width: 100%;
  @include flex-column(0rem);
  align-items: center;
  section.view1 {
    width: 100%;
    @include flex-column(0.5rem);
    padding: 1.2rem;
    .top {
      width: 100%;
      img {
        width: 100%;
        border-radius: 0.7rem;
      }
    }
    .bottom {
      background-color: rgb(30, 30, 30);
      padding: 1rem;
      border-radius: 10px;
      @include flex-column(3rem);

      .text {
        @include flex-column(1.2rem);

        h1 {
          font-weight: 500;
          text-transform: uppercase;
          font-size: 3rem;
        }
        p {
          color: white;
          font-size: 1.35rem;
          line-height: 2.1rem;
          font-family: satoshi;
          color: rgb(154, 153, 151);
          font-weight: 450;
          width: 80%;
        }
        button {
          width: fit-content;
          border: none;
          padding: 0.5rem 1rem;
          border-radius: 12px;
          font-weight: 700;
        }
      }
    }
  }
  section.view2 {
    @include flex-column(1rem);
    width: 100%;
    padding: 1.2rem;
    .top,
    .bottom {
      width: 100%;
      display: flex;
      justify-content: space-around;
      text-align: center;
    }
    small {
      font-size: 1rem;
      color: rgb(154, 153, 151);
      font-weight: 570;
      letter-spacing: 1.3px;
    }
    h2 {
      font-size: 2.6rem;
      font-weight: 500;
      color: white;
    }
  }
  section.view3{
    width: 100%;
    padding: 1.2rem;
    .top{
      width: 100%;
      img{
        width: 100%;
        border-radius: 0.7rem;
      }
    }
      .bottom {
      background-color: rgb(30, 30, 30);
      padding: 1rem;
      border-radius: 10px;
      @include flex-column(3rem);

      .text {
        @include flex-column(1.2rem);

        h1 {
          font-weight: 500;
          text-transform: uppercase;
          font-size: 3rem;
        }
        p {
          color: white;
          font-size: 1.35rem;
          line-height: 2rem;
          font-family: satoshi;
          color: rgb(154, 153, 151);
          font-weight: 450;
          width: 88%;
      }
    }

    }
  }
}
@media (min-width: 900px) {
  main {
    section.view1 {
      flex-direction: row;
      gap: 1.3rem;
      padding: 1rem 1.5rem;
      .top,
      .bottom {
        width: 50%;
      }
      .bottom {
        justify-content: space-between;
        padding: 2.5rem 3rem;
        font-size: 1.1rem;

        .text {
          gap: 1.5rem;
          h1 {
            font-size: 3.25rem;
            width: 75%;
          }
          p {
            font-size: 1.2rem;
            width: 80%;
            font-weight: 400;
          }
        }
      }
    }
    section.view2{
      flex-direction: row;
      padding: 1rem 1.5rem;
      h2{
        font-size: 4rem;
      }
    }
    section.view3{
      flex-direction: row-reverse;
      gap: 1.3rem;
      padding: 1rem 1.5rem;
      .top,
      .bottom {
        width: 50%;
      }
      .bottom .paragraphs{
        display: flex;
      }
    }
  }
}
